<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Entry</title>
</head>
<body>
{% extends 'test_app/default.html' %}
{% load bootstrap4 %}

{% block page_header %}
<h2>
    Add a New Entry For
    <a href="{% url 'test_app:topic' topic.id %}">{{ topic }}</a>
</h2>
{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'test_app:new_entry' topic.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary">Add Entry!</button>
    {% endbuttons %}
</form>

{% endblock %}
</body>
</html>