<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
{% extends "test_app/default.html" %}

{% block page_header %}
<h2>Topics</h2>
{% endblock page_header %}

{% block content %}

<p>Topics</p>

<ul>
    {% for topic in topics %}
    <li>
        <h3>
            <a href="{% url 'test_app:topic' topic.id %}">{{ topic }}</a>
        </h3>
    </li>
    {% empty %}
    <li>
        <h3>No Topics Yet!</h3>
    </li>
    {% endfor %}
</ul>

<br>

<h3>
    <a href="{% url 'test_app:new_topic' %}">Add Another Topic!</a>
</h3>
{% endblock content %}
</body>
</html>