<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entries</title>
</head>
<body>
{% extends "test_app/default.html" %}

{% block page_header %}
<h3>Entries for {{ topic }}:</h3>
{% endblock page_header %}

{% block content %}

{% for entry in entries %}
<div class="class mb-3">
    <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small>
            <a href="{% url 'test_app:edit_entry' entry.id %}">Edit</a>
        </small>
    </h4>
    <div class="card-body">
        {{ entry.text|linebreaks }}
    </div>
</div>
{% empty %}
<p>No Entries Yet!</p>
{% endfor %}

<h2>
    <a href="{% url 'test_app:new_entry' topic.id %}">Add Entry!</a>
</h2>

{% endblock content %}
</body>
</html>